fastapi>=0.116.1
uvicorn[standard]>=0.35.0
sqlalchemy>=2.0.43
psycopg[binary]>=3.2.9 # nếu dùng async: pip install asyncpg
redis>=6.4.0
# elasticsearch>=9.1.0
elasticsearch>=8.17,<9
pydantic-settings>=2.10.1

sqlalchemy
sqlmodel
pyjwt
pwdlib[argon2]
python-multipart
email-validator
asyncpg

minio
celery 
redis

alembic

PyMuPDF>=1.26,<2.0
python-docx>=1.2,<2.0
charset-normalizer>=3.4,<4.0
Pillow
